<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict><key>shortcut</key><string>かいでんほう</string><key>phrase</key><string>改電法</string></dict>
    <dict><key>shortcut</key><string>うえや</string><key>phrase</key><string>↑</string></dict>
    <dict><key>shortcut</key><string>みぎや</string><key>phrase</key><string>→</string></dict>
    <dict><key>shortcut</key><string>したや</string><key>phrase</key><string>↓</string></dict>
    <dict><key>shortcut</key><string>ひだりや</string><key>phrase</key><string>←</string></dict>
    <dict><key>shortcut</key><string>’げった</string><key>phrase</key><string>言った</string></dict>
    <dict><key>shortcut</key><string>’こった</string><key>phrase</key><string>行った</string></dict>
    <dict><key>shortcut</key><string>’げってた</string><key>phrase</key><string>言ってた</string></dict>
    <dict><key>shortcut</key><string>’こってた</string><key>phrase</key><string>行ってた</string></dict>
    <dict><key>shortcut</key><string>’げって</string><key>phrase</key><string>言って</string></dict>
    <dict><key>shortcut</key><string>’こって</string><key>phrase</key><string>行って</string></dict>
    <dict><key>shortcut</key><string>’こんだ</string><key>phrase</key><string>呼んだ</string></dict>
    <dict><key>shortcut</key><string>’どんだ</string><key>phrase</key><string>読んだ</string></dict>
    <dict><key>shortcut</key><string>’こんで</string><key>phrase</key><string>呼んで</string></dict>
    <dict><key>shortcut</key><string>’どんで</string><key>phrase</key><string>読んで</string></dict>
    <dict><key>shortcut</key><string>｜げった</string><key>phrase</key><string>言った</string></dict>
    <dict><key>shortcut</key><string>｜こった</string><key>phrase</key><string>行った</string></dict>
    <dict><key>shortcut</key><string>｜げってた</string><key>phrase</key><string>言ってた</string></dict>
    <dict><key>shortcut</key><string>｜こってた</string><key>phrase</key><string>行ってた</string></dict>
    <dict><key>shortcut</key><string>｜げって</string><key>phrase</key><string>言って</string></dict>
    <dict><key>shortcut</key><string>｜こって</string><key>phrase</key><string>行って</string></dict>
    <dict><key>shortcut</key><string>｜こんだ</string><key>phrase</key><string>呼んだ</string></dict>
    <dict><key>shortcut</key><string>｜どんだ</string><key>phrase</key><string>読んだ</string></dict>
    <dict><key>shortcut</key><string>｜こんで</string><key>phrase</key><string>呼んで</string></dict>
    <dict><key>shortcut</key><string>｜どんで</string><key>phrase</key><string>読んで</string></dict>
    <dict><key>shortcut</key><string>いった１</string><key>phrase</key><string>言った</string></dict>
    <dict><key>shortcut</key><string>いった２</string><key>phrase</key><string>行った</string></dict>
    <dict><key>shortcut</key><string>いってた１</string><key>phrase</key><string>言ってた</string></dict>
    <dict><key>shortcut</key><string>いってた２</string><key>phrase</key><string>行ってた</string></dict>
    <dict><key>shortcut</key><string>いって１</string><key>phrase</key><string>言って</string></dict>
    <dict><key>shortcut</key><string>いって２</string><key>phrase</key><string>行って</string></dict>
    <dict><key>shortcut</key><string>よんだ１</string><key>phrase</key><string>呼んだ</string></dict>
    <dict><key>shortcut</key><string>よんだ２</string><key>phrase</key><string>読んだ</string></dict>
    <dict><key>shortcut</key><string>よんで１</string><key>phrase</key><string>呼んで</string></dict>
    <dict><key>shortcut</key><string>よんで２</string><key>phrase</key><string>読んで</string></dict>
  </array>
</plist>
